* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background: rgba(43, 48, 59, 0.5);
    color: #cdd6f4;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}

#workspaces {
    background: transparent;
    margin: 0 6px;
}

#workspaces button {
    padding: 4px 10px;
    margin: 0 2px;
    background: #1e1e2e;
    color: #a6adc8;
    transition: all 0.2s ease-in-out;
    border-radius: 6px;
}

#workspaces button.active {
    background: #89b4fa;
    color: #1e1e2e;
    font-weight: bold;
}

#workspaces button:hover {
    background: #45475a;
    color: #ffffff;
}

#pulseaudio,
#network,
#power-profiles-daemon,
#cpu,
#memory,
#temperature,
#keyboard-state,
#language,
#clock,
#custom-power {
    padding: 0 5px;
    margin: 0 4px;
    color: #dcdfe4;
    border-radius: 6px;
    background-color: rgba(40, 40, 40, 0.9);
}

#clock {
    padding: 0 20px;
}
