* {
    margin: 0;
    padding: 0;
    border: 0;
}

window#waybar {
    background: #282828;
}

window#waybar.hidden {
    opacity: 0.98;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.visible,
#workspaces button.visible:hover,
#workspaces button.active,
#workspaces button.active:hover,
#workspaces button.urgent,
#workspaces button.special,
#workspaces button.special.active,
#window,
#tray,
#pulseaudio,
#pulseaudio.muted,
#clock,
#language,
#network,
menu,
#custom-dnd,
#submap {
    font-family: JetBrainsMono Nerd Font;
    font-size: 10px;
    font-weight: 800;
    color: #282828;
}

#window,
#tray,
#pulseaudio,
#pulseaudio.muted,
#language,
#custom-dnd,
#network {
    margin-right: 5px;
    margin-left: 5px;
}

/* WORKSPACE MODULE */
#workspaces button {
    color: #ebdbb2;
    border-radius: 0.7px;
    margin-bottom: 3px;
    margin-top: 3px;
    margin-right: 4px;
    margin-left: 4px;
    min-width: 30px;
}

#workspaces button:hover {
    background: #83a598;
}

#workspaces button.visible {
    background: #83a598;
}

#workspaces button.visible:hover {
    background: #83a598;
}

#workspaces button.active {
    background: #83a598;
}

#workspaces button.active:hover {
    background: #83a598;
}

#workspaces button.urgent {
    background: #ea6962;
}

#workspaces button.special {
    background-color: #B16286;
}

#workspaces button.special.active {
    background-color: #D79921;
}

/* WINDOW MODULE */
#window {
    color: #282828;
    background: #83a598;
    border-radius: 0.7px;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

window#waybar.empty #window {
    margin: 0;
    padding: 0;
    background: transparent;
    color: transparent;
}

#clock {
    color: #8ec07c;

}

#custom-power {
    background: #cc241d;
    border-radius: 0.7px;
    min-width: 22px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 3px;
    margin-top: 3px;
}

#pulseaudio {
    color: #83a598;
}

#pulseaudio.muted {
    color: #ea6962;
}

#network {
    color: #8ec07c;
}

#custom-dnd {
    color: #8ec07c;
}

#language {
    color: #8ec07c;
}

menu {
    background: #282828;
    border-radius: 0.7px;
    color: #8ec07c;
}
