[Desktop Entry]
Name=Wireguard VPN
Exec=/home/trin/.config/custom_scripts/wg-connect
Icon=network-vpn
Terminal=false
Type=Application
Categories=Network;
